<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="app">
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                @Html.ActionLink("AngularJS/Bootstrap", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "brand" })
                <div class="nav-collapse collapse">
                    <ul class="nav" ng-controller="App.MainMenuCtrl">
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown" ng-class='{open: workItemsOpen}'>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click='workItemsOpen=!workItemsOpen'>Workitems <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="workItem in workItems"><a href="/{{workItem.href}}" ng-click="workItemClicked()">{{workItem.title}}</a></li>
                            </ul>
                        </li>

                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="dropdown" ng-class='{open: open}'>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'>Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        @RenderBody()

        <hr>

        <footer>
            <p>&copy; Company 2012</p>
        </footer>

    </div>
    <!-- /container -->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>
    @*<script src="~/Scripts/angular-bootstrap.js"></script>*@
    <script src="~/Scripts/ui-bootstrap-0.2.0.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>

    <script src="~/App/Services/Books.js"></script>
    <script src="~/App/App.js"></script>
    <script src="~/App/Controllers/App.MainMenuCtrl.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
